<h1>Hello World</h1>

<!--<p>{{ title }}</p>-->

<!--<p><strong>{{number}}</strong></p>-->
<!--<p><strong>{{arr}}</strong></p>-->
<!--<p><strong>{{obj.b}}</strong></p>-->

<!--<p><strong>{{40 + 2}}</strong></p>-->
<!--<p><strong>{{'Hello' + ' World'}}</strong></p>-->
<!--<button (click)="onClick()">Click me!</button>-->

<!--<input-->
<!--  type="text"-->
<!--  (keyup.enter)="onInput($event)"-->
<!--  (blur)="onBlur(myInput.value)"-->
<!--  #myInput-->
<!--&gt;-->
<!--<p><strong>{{inputValue}}</strong></p>-->
<!--<app-post></app-post>-->

<!--<hr>-->

<!--<app-post4></app-post4>-->

<!--<input type="text" [(ngModel)]="title">-->

<!--<p>{{title}}</p>-->

<!--&lt;!&ndash;<div [ngStyle]="{&ndash;&gt;-->
<!--&lt;!&ndash;  width: '200px',&ndash;&gt;-->
<!--&lt;!&ndash;  height: '200px',&ndash;&gt;-->
<!--&lt;!&ndash;  borderRadius: '5px',&ndash;&gt;-->
<!--&lt;!&ndash;  border: '1px solid #ccc',&ndash;&gt;-->
<!--&lt;!&ndash;  background: backgroundToggle ? 'red' : 'blue'&ndash;&gt;-->
<!--&lt;!&ndash;}">&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<p [ngClass]="{-->
<!--  red: backgroundToggle,-->
<!--  blue: !backgroundToggle-->
<!--}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, repellendus!</p>-->

<!--<p-->
<!--  [class.blue]="!backgroundToggle"-->
<!--  [class.red]="backgroundToggle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, magnam?</p>-->

<!--<button (click)="toggle = !toggle">Toggle</button>-->

<!--<p *ngIf="toggle; else blueP" class="red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, quae!</p>

<ng-template #blueP>
  <p class="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, quae!</p>
</ng-template>-->

<!--<button (click)="toggle = !toggle">Toggle</button>-->
<!--<button (click)="toggle = 1111">set</button>-->

<!--<div [ngSwitch]="toggle">-->
<!--  <p *ngSwitchCase="true" class="red">Lorem ipsum.</p>-->
<!--  <p *ngSwitchCase="false" class="blue">Lorem ipsum dolor sit.</p>-->
<!--  <p *ngSwitchDefault>Lorem ipsum dolor sit.</p>-->
<!--</div>-->

<!--<ul>-->
<!--  <li *ngFor="let n of arr; let idx = index">-->
<!--    {{idx + 1}}  <strong>{{n}}</strong>-->
<!--  </li>-->
<!--</ul>-->

<!--<ul style="list-style: none">-->
<!--  <li *ngFor="let post of objs">-->
<!--    <p>{{post.title}} <b>{{post.author}}</b></p>-->
<!--    <ul>-->
<!--      <li *ngFor="let com of post.comments">-->
<!--        <div>-->
<!--          <small>{{com.name}}</small>-->
<!--          <p>{{com.text}}</p>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </li>-->
<!--</ul>-->

<p>{{now | date:'small'}}</p>
<p>{{now | date:'long'}}</p>
<p>{{now | date:'long' | uppercase | lowercase}}</p>
